[main]

#####################LUNA SETTINGS####################################
#Download images from
#https://drive.google.com/drive/u/0/folders/0Bz-jINrxV740SWE1UjR4RXFKRm8
#Keep all images subset 0..9 in a direcotory inside the folders and point the 
#following config to it 
luna_dataset_images = /datadrive2/luna/subset/

#Dowload CSV files from here and point to location of annotations.csv
#https://drive.google.com/drive/u/0/folders/0Bz-jINrxV740SWE1UjR4RXFKRm8
luna_dataset_annotations = /datadrive2/luna/CSVFILES/annotations.csv

#directory to save the processed luna images. The directory must be present 
luna_processed_image_output = /datadrive2/output/nodules_3d

#directory to save the processed luna model. The directory must be present
luna_unet_model = /datadrive2/output/LUNA/CNN/Checkpoints/ 

###########################KAGGLE SETTINGS###############################
#Download stage1.7z images from 
#https://www.kaggle.com/c/data-science-bowl-2017/data
kaggle_dataset_images= /datadrive/data/full_data/stage1/

#Dowload stage1_labels.csv from
#https://www.kaggle.com/c/data-science-bowl-2017/data
kaggle_dataset_labels = /datadrive/data/stage1_labels.csv

#directory to save processed kaggle images. The directory must be present 
kaggle_processed_image_output = /datadrive2/output/kaggle/stage1_3d_zarr/3d.zarr/ 

#directory to store classification model in 
kaggle_classificaton_model_store = /datadrive2/output/LUNA/CNN/Checkpoints/
